
body{
    font-family: 'Press Start 2P', cursive;
}
.character {
    position:absolute;
    width: 64px;
    height: 64px;
    overflow:hidden;
    bottom: 0px;
    left: 10px;
}

.character_spritesheet {
    position: absolute;
    animation: moveCharacter 1s steps(2) infinite;
    height: 128px;
}

#gameOver {
    position:absolute;
    width: 64px;
    height: 64px;
    overflow:hidden;
    bottom: 20px;
    left: 45%;
}

.charOver {
    position: absolute;
    animation: animateOver 1s steps(2) infinite;
    height: 128px;
}

@keyframes animateOver {
    from {
        transform: translate3d(0px,0px,0)
     }
     to {
        transform: translate3d(0px,-100%,0)
     }
}

@keyframes moveCharacter {
    from {
        transform: translate3d(0px,0px,0)
     }
     to {
        transform: translate3d(0px,-100%,0)
     }
}

.obstacle {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: URL(Catra_obstacle.png);
    bottom: 0px;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  #runner-background {
    position: absolute;
    top:50px;
    left:30%;
    width: 600px;
    height: 200px;
    overflow: hidden;
    background-repeat: repeat-x;
    animation: slideright 1000s infinite linear;
    -webkit-animation: slideright 1000s infinite linear;
}

  
  #alert{
    margin: auto;
    text-align: center;
    font-size: 22px; 
    font: #000000;
    font-weight: 700;
  }

  #refresh {
      margin:auto;
      margin-top: 70px;
      animation:  blink 1s steps(5, start) infinite;
      -webkit-animation:  blink 1s steps(5, start) infinite;
  }
  @keyframes blink{
    to {
        visibility: hidden;
    }
  }

  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  #score {
      position: absolute;
      right:50px;
      font-size:12px;
      z-index: 100;
  }
  #finalScore {
    position: absolute;
    right:50%;
    font-size:12px;
    z-index: 100;
  }

.cloud {
    height: 70px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

.cloud img {
    height: 70px;
    width: 1600px;
    position: absolute;
    left: -2000px;
    animation: none;
}

@keyframes cloudAnimation {
    0% {
        left: -1500px;
    }

    100% {
        left: 100%;
    }
}